# macOS
.DS_Store

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.vscode/sftp.json

# Node / Front-end
node_modules/
dist/
build/
.npm/

# PHP
vendor/
composer.lock
.env
.env.*
!.env.example
*.log
storage/
cache/
tmp/
*.cache
public/imagens/

# Arquivos grandes de trabalho
*.zip
*.bak
*.tar
*.tar.gz

# Scriptcase (se usar)
_scriptcase/
_tmp/
_prod/

